{
    "presets": [
        [ "@babel/preset-env", { "modules": false } ],
        "react-app"
    ],
    "plugins": [
        "@babel/plugin-proposal-class-properties",
        "@babel/plugin-external-helpers",
    ],
    "env": {
        "test": {
            "presets": [
                [ "@babel/preset-env" ],
                "react-app"
            ],
            "plugins": [
                "@babel/plugin-proposal-class-properties",
                "@babel/plugin-external-helpers",
            ],
        },
    }
}
