body {
  position: relative;
  padding: 0;
  margin: 0 auto;
  width: 100%;
  max-width: 100vw;
  min-height: 100%;
  overflow-x: hidden;
}

.app {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

.demo-header {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  width: 100vw;
  max-height: 100%;
}

.demo-header::before {
  content: "";
  position: absolute;
  z-index: -5;
  width: 100vw;
  height: 100%;
  background-color: #aaa;
}

.demo-header.collapse::before {
  max-height: 100%;
  overflow: hidden;
  transition: max-height 600ms ease-out;
}

.demo-header.collapse.is-collapsed::before {
  max-height: 4.5em;
  transition: max-height 600ms ease-in;
}

.demo-branding {
  display: inline-flex;
  flex-direction: row-reverse;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
}

h1.demo-title {
  text-align: right;
  font-size: 1.7em;
  margin: 0 0.2em 0 0;
  padding-right: 0.2em;
}

h1.demo-description small{
  display: none;
}

.demo-navigation-toggler {
  position: relative;
  padding: 0.2em;
  margin: 0 0.2em 0 0;
  width: 3.5em;
  height: 3.5em;

  background: transparent;
  border: none;
}

.demo-navigation-toggler::before {
  font-family: 'Metrize-Icons';
  font-size: 2.5em;
  content: "\e0f5";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #eee;
  text-shadow: 0.07em 0.07em 0.1em #ccc
}

.demo-navigation-toggler.collapse::after {
  width: 3em;
  height: 3em;
  margin: auto;
  padding: 0;
  content: "";
  position: absolute;
  z-index: 5;
  opacity: 0.7;
  background: #292929;
  transform: translate(-1.6em, -1.5em) scale(1, 1) rotate(45deg);
  transition: transform 350ms ease-out;
}

.demo-navigation-toggler.collapse.is-collapsed::after {
  content: "";
  transform: translate(-1.6em, -1.5em) scale(0, 0) rotate(0deg);
}

.demo-navigation ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-stretch;
}

.demo-navigation ul li {
  margin: 0.7em 0.4em;
}

.demo-navigation ul li a {
  padding: .7em 1em;
  font-size: 1.3em;
  text-decoration: none;
  color: #005F4C;
  transition: color 250ms ease-out, background-color 320ms ease-in;
}

.demo-navigation ul li a:hover{
  color: #76F4DB;
}

.demo-navigation ul li a.active{
  background-color: #005F4C;
  color: #fff;
}

/**
 * MAIN
 */
.main {}

.main section {
  margin: 1em 0 2em;
}

.main section h3 {
  position: relative;
  padding-left: 2em;
}

.main section h3::before {
  top: 50%;
  margin-left: -1.5em;
  transform: translateY(-50%);

  content: "\e12b";
  position: absolute;
  font-family: 'Metrize-Icons';
  font-size: 1.5em;
  color: #678D00;
}

.main section > ul {
  list-style: none;
  counter-reset: ol-counter;

  margin: 0;
}

.main section > ul > li {
  position: relative;
  margin-left: 1.3em;
}

.main section > ul > li::before {
  content: counter(ol-counter);
  counter-increment: ol-counter;

  position: absolute;
  margin-left: -2.5em;
  text-align: center;
  padding: 0.02em 0 0;

  font-family: "Open Sans", san-serif;
  width: 2em;
  background: #CFFA5A;
  border-radius: 50%;
  border: 0.11em #678D00 solid;
}

@media (min-width: 576px) {
  
}

/* Medium */
@media (min-width: 768px) {
 
}

/* Large */
@media (min-width: 992px) {
  .container.app {
    max-width: 1200px;
  }
  
  .demo-header {
    margin: 0 0 1em;
    padding: 2em 0.5em 0.5em; 
  }
  
  .demo-header::before {
    
    padding: 1em 0.5em 2em;
    padding: 0;
    margin: 0;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }
  
  h1.demo-title {
    font-size: 2.5em;
    margin-bottom: 0;
  }
  
  h1.demo-description small{
    font-size: 1.7em;
  }
  
  .demo-navigation {
    margin: 0.5em auto 0;
  }
  
  .demo-navigation ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
  }
  
  .demo-navigation ul li {
    margin: 0.7em 0.4em;
  }
  
  .demo-navigation ul li a{
    padding: .7em 1em;
    border-radius: 0.5em;
    font-size: 1.3em;
    text-decoration: none;
    color: #005F4C;
    transition: color 250ms ease-out, background-color 320ms ease-in;
  }
  
  .demo-navigation ul li a:hover{
    color: #76F4DB;
  }
  
  .demo-navigation ul li a.active{
    background-color: #005F4C;
    color: #fff;
  }
  
  /**
   * PAGE NAVIGATION
   **/
  .sub-navigation {
    width: 100%;
  }
  
  .sub-navigation ul {
    position: relative;
    list-style: none;
    display: flex;
    justify-content: space-between;
  }
  
  .sub-navigation ul::before {
    content: attr(data-heading)": ";
    margin: 0.7em 0 0 0.7em;
  
    font-size: 1.3em;
    font-weight: 600;
  }
  
  .sub-navigation ul li {
    text-align: center;
    margin: 0 0.07em;
    padding: 0.5em 0;
  }
  
  .sub-navigation ul li a {
    font-size: 1.1em;
    text-decoration: none;
  }
  
  .sub-navigation ul li a:visited {
    color: #0073aa;
  }
  
  .main {
    padding: 0.5em 0.5em;
  }
  
  .main section {
    margin: 1em 0 2em;
  }
  
  .main section h3 {
    position: relative;
    padding-left: 2em;
  }
  
  .main section h3::before {
    top: 50%;
    margin-left: -1.5em;
    transform: translateY(-50%);
  
    content: "\e12b";
    position: absolute;
    font-family: 'Metrize-Icons';
    font-size: 1.5em;
    color: #678D00;
  }
  
  .main section > ul {
    list-style: none;
    counter-reset: ol-counter;
  }
  
  .main section > ul > li {
    position: relative;
    margin-left: 1.3em;
  }
  
  .main section > ul > li::before {
    content: counter(ol-counter);
    counter-increment: ol-counter;
  
    position: absolute;
    margin-left: -2.5em;
    text-align: center;
    padding: 0.02em 0 0;
  
    font-family: "Open Sans", san-serif;
    width: 2em;
    background: #CFFA5A;
    border-radius: 50%;
    border: 0.11em #678D00 solid;
  }
  
  .main section.live-section .react-live{
    display: flex;
    flex-wrap: nowrap;
    justify-content: stretch;
    align-items: center;
  }
  
  .main section.live-section:nth-of-type(odd) .react-live {
    flex-direction: row-reverse;
  }
  
  .main section.live-section .react-live .block{
    flex-basis: 50%;
  }
  
  .main section pre {
    border-radius: 0.4em;
    border: 0.07em solid #818181;
    background: #515151;
    color: #DAFD7A;
    padding: 0.5em;
    font-size: 0.9375rem;
  }
  
  .main section pre code {
    border: none;
    background: transparent;
    font-family: "Courier 10 Pitch", Courier, monospace;
  }
  
  .react-live .prism-code {
    border-radius: 0.4em;
  }
}

/* Extra Large */
@media (min-width: 1200px) {

}