body {
  position: relative;
  padding: 0;
  margin: 0 auto;
  width: 100%;
  min-height: 100%;
}

.container.app {
  max-width: 1200px;
}

.header {
  position: relative;
  margin: 0 0 2em;
  padding: 2em 0.5em 0.5em; 
}

.header::before {
  content: "";
  position: absolute;
  padding: 1em 0.5em 2em;
  padding: 0;
  margin: 0;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100vw;
  height: 100%;
  background-color: #aaa;
  z-index: -5;
}

.header h1.site-title {
  font-size: 2.5em;
}

.header h1.site-description{
  font-size: 1.7em;
}

.header .main-navigation ul {
  float: right;
  list-style: none;
}

.header .main-navigation ul li {
  float: left;
  margin: 0.2em 0.4em;
}

.header .main-navigation ul li a{
  padding: .7em 1em;
  border-radius: 0.5em;
  font-size: 1.3em;
  text-decoration: none;
  color: #005F4C;
  transition: color 350ms ease-out, background-color 350ms ease-in;
}

.header .main-navigation ul li a:hover{
  color: #76F4DB;
}

.header .main-navigation ul li a.active{
  background-color: #005F4C;
  color: #fff;
}

/**
 * PAGE NAVIGATION
 **/
.page-navigation {
  width: 100%;
  margin: 0.3em 0.4em 0.6em;
}

.page-navigation ul {
  position: relative;
  margin: 0 auto;
  list-style: none;
}

.page-navigation ul::before {
  content: attr(data-heading)": ";
  margin-right: 0.7em;

  font-size: 1.3em;
  font-weight: 600;
}

.page-navigation ul li {
  display: inline;
}

.page-navigation ul li a {
  margin: 0 0.4em;
  padding: 0.5em 0.5em;
  border-radius: 0.4em;
  
  font-size: 1.1em;
  text-decoration: none;
}

.main {
  padding: 0.5em 0.5em;
}

.main section {
  margin: 1em 0 2em;
}

.main section.live-section .react-live{
  display: flex;
  flex-wrap: nowrap;
  justify-content: stretch;
  align-items: center;
}

.main section.live-section:nth-of-type(odd) .react-live {
  flex-direction: row-reverse;
}

.main section.live-section .react-live .block{
  flex-basis: 50%;
  border-radius: 1.3em;
}