// Grays
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;

// Red
$red-100: #FD7B8D;
$red-300: #FB5A70;
$red-500: #F40022;	// Main Primary color */
$red-700: #8D0013;
$red-900: #68000E;

// Lime
$lime-100: #DAFD7A;
$lime-300: #CFFA5A;
$lime-500: #B2F300;	// Main Secondary color (1) */
$lime-700: #678D00;
$lime-900: #4C6800;

// Cyan
$cyan-100: #76F4DB;
$cyan-300: #50DEC2;
$cyan-500: #00AD8B;	// Main Secondary color (2) */
$cyan-700: #005F4C;
$cyan-900: #004638;


// Other Colors
$blue:    $cyan-500;
$indigo:  #6610f2;
$purple:  #6f42c1;
$pink:    #e83e8c;
$red:     $red-500;
$orange:  #fd7e14;
$yellow:  #ffc107;
$green:   $lime-500;
$teal:    #20c997;
$cyan:    #17a2b8;

// Theme Colors
$primary:   $red;
$secondary: $green;
$tertiary:  $cyan-500;
$success:   $green;
$info:      $cyan;
$warning:   $yellow;
$danger:    $red-300;
$light:     $gray-100;
$dark:      $gray-700;

// Color Map
$theme-colors: (
  primary-100: $red-100,
  primary-300: $red-300,
  primary-500: $red-500,
  primary-700: $red-700,
  primary-900: $red-900,
  secondary-100: $lime-100,
  secondary-300: $lime-300,
  secondary-500: $lime-500,
  secondary-700: $lime-700,
  secondary-900: $lime-900,
  tertiary: $cyan-500,
  tertiary-100: $cyan-100,
  tertiary-300: $cyan-300,
  tertiary-500: $cyan-500,
  tertiary-700: $cyan-700,
  tertiary-900: $cyan-900,
);

$body-bg: $gray-300;
$body-color: $dark;
$headings-color: $gray-800;
$link-color: $primary;