.dropdown { // Sub Menu toggle button
  flex-basis: auto;
  flex-grow: 1;
  flex-shrink: 1;
  margin: auto;

  position: relative;
  width: 3em;
  height: 3em;
  padding: 1em;
  background: transparent;
  border: none;


  &.on {}
}

.menu {
  margin-left: 0.8em;
  padding: 0;
  flex-basis: 100%;
  order: 2;

  overflow: hidden;
  max-height: 0;
  transition: max-height 550ms ease-out;

  &.on {
    transition: max-height 3s ease-out;
    max-height: 100vh;
  }

  &:before {
    content: "";
    display: table;
    clear: both;
  }
}