/* Extra Small */
[class*="-icon-toggler"] {
  margin: auto;
  padding: 0.5em; }
  [class*="-icon-toggler"] button {
    position: relative;
    width: 3em;
    height: 3em;
    padding: 1em;
    background: transparent;
    border: none; }
    [class*="-icon-toggler"] button span {
      transform: translate(-0.50375em, -0.50375em);
      position: absolute;
      font-family: "Metrize-Icons";
      font-size: 2.5em;
      margin: 0;
      padding: 0;
      transform-origin: center; }
  [class*="-icon-toggler"].collapse button {
    border-radius: 1.75em;
    box-shadow: 0.16em 0.16em 0.175em rgba(73, 80, 87, 0.8);
    color: #fff;
    background-color: rgba(141, 0, 19, 0.6);
    transition: border-radius 400ms ease-in, box-shadow 400ms ease-in, color 325ms ease-out, background-color 325ms ease-in; }
  [class*="-icon-toggler"].collapse.is-collapsed button {
    border-radius: 0.35em;
    box-shadow: 0 0 rgba(73, 80, 87, 0.55);
    color: #495057;
    background-color: transparent;
    transition: border-radius 450ms ease-out, box-shadow 400ms ease-out, color 325ms ease-out, background-color 325ms ease-out; }

/* Extra Small */
ol.demo-list,
ul.demo-list {
  position: relative;
  margin: 0 auto;
  padding: 0;
  max-width: 100%;
  list-style: none;
  display: flex;
  flex-direction: column; }
  ol.demo-list li,
  ul.demo-list li {
    display: inline-flex;
    flex-flow: row wrap;
    align-content: space-between;
    justify-content: stretch;
    width: 100%;
    padding: 0;
    margin: 0; }
    ol.demo-list li a,
    ol.demo-list li span.list-item-text,
    ul.demo-list li a,
    ul.demo-list li span.list-item-text {
      position: relative;
      flex-grow: 8;
      flex-shrink: 0;
      padding: 0.75em 1em;
      margin: auto;
      text-decoration: none;
      font-family: "Basic", san-serif;
      font-size: 1.15em;
      background: transparent;
      color: #678D00;
      text-shadow: 0 0 rgba(73, 80, 87, 0.55);
      transition: color 250ms ease-in 550ms, text-shadow 450ms ease-in 550ms; }
      ol.demo-list li a::before,
      ol.demo-list li span.list-item-text::before,
      ul.demo-list li a::before,
      ul.demo-list li span.list-item-text::before {
        content: "";
        position: absolute;
        z-index: -1;
        width: 100%;
        height: 100%;
        padding: 0;
        margin: 0;
        top: 0;
        left: 0;
        background-color: rgba(0, 95, 76, 0.6);
        overflow-x: hidden;
        max-width: 0;
        transition: max-width 550ms ease-in; }
      ol.demo-list li a:active, ol.demo-list li a.active,
      ol.demo-list li span.list-item-text:active,
      ol.demo-list li span.list-item-text.active,
      ul.demo-list li a:active,
      ul.demo-list li a.active,
      ul.demo-list li span.list-item-text:active,
      ul.demo-list li span.list-item-text.active {
        color: #fff;
        text-shadow: 0.16em 0.16em 0.175em rgba(73, 80, 87, 0.8);
        transition: color 250ms ease-in 650ms, text-shadow 450ms ease-in 650ms; }
        ol.demo-list li a:active::before, ol.demo-list li a.active::before,
        ol.demo-list li span.list-item-text:active::before,
        ol.demo-list li span.list-item-text.active::before,
        ul.demo-list li a:active::before,
        ul.demo-list li a.active::before,
        ul.demo-list li span.list-item-text:active::before,
        ul.demo-list li span.list-item-text.active::before {
          max-width: 100%;
          transition: max-width 550ms ease-in; }
    ol.demo-list li button.sub-list-toggle,
    ul.demo-list li button.sub-list-toggle {
      flex-basis: auto;
      flex-grow: 1;
      flex-shrink: 1;
      margin: auto;
      position: relative;
      width: 3em;
      height: 3em;
      padding: 1em;
      background: transparent;
      border: none; }
    ol.demo-list li div.sub-list,
    ul.demo-list li div.sub-list {
      position: relative;
      padding: 0;
      flex-basis: 100%;
      order: 2; }
      ol.demo-list li div.sub-list ul,
      ol.demo-list li div.sub-list ol,
      ul.demo-list li div.sub-list ul,
      ul.demo-list li div.sub-list ol {
        width: 100%;
        margin: auto;
        padding: 0;
        overflow-x: scroll;
        display: inline-flex;
        flex-flow: row nowrap;
        justify-content: flex-start; }
        ol.demo-list li div.sub-list ul li,
        ol.demo-list li div.sub-list ol li,
        ul.demo-list li div.sub-list ul li,
        ul.demo-list li div.sub-list ol li {
          width: auto; }
          ol.demo-list li div.sub-list ul li a,
          ol.demo-list li div.sub-list ol li a,
          ul.demo-list li div.sub-list ul li a,
          ul.demo-list li div.sub-list ol li a {
            font-size: 1em;
            flex-grow: 0;
            flex-shrink: 0; }

.collapser.collapse {
  overflow-y: hidden;
  max-height: 100vh;
  transition: max-height 550ms ease-in; }
  .collapser.collapse.is-collapsed {
    max-height: 0;
    transition: max-height 650ms ease-in; }

/* Base */
body {
  position: relative;
  width: 100%;
  min-height: 100%;
  overflow-x: hidden;
  background-color: #dee2e6;
  color: #495057; }
  body h1, body h2, body h3, body h4, body h5, body h6 {
    color: #343a40; }
  body a {
    color: #F40022; }

/* Extra Small */
.demo-body {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-areas: "header header header header header header" "aside aside aside aside aside aside" "aside aside aside aside aside aside" "main main main main main main" "main main main main main main" "main main main main main main" "main main main main main main" "main main main main main main" "main main main main main main" "main main main main main main" "main main main main main main" "footer footer footer footer footer footer" "footer footer footer footer footer footer"; }
  .demo-body .header-toggler {
    display: none; }

/* Small */
/* Medium */
/* Large */
@media (min-width: 992px) {
  .demo-body {
    position: relative;
    display: flex;
    justify-items: flex-start; }
    .demo-body .header-toggler {
      display: block;
      position: absolute; }
      .demo-body .header-toggler button {
        position: relative;
        width: 3em;
        height: 3em;
        padding: 1em;
        background: transparent;
        border: none; }
        .demo-body .header-toggler button span {
          position: absolute;
          font-family: "Metrize-Icons";
          font-size: 2.5em;
          margin: 0;
          padding: 0;
          transform-origin: center; }
        .demo-body .header-toggler button span.open {
          transform: translate(-0.50375em, -0.50375em) rotate(-45deg); }
        .demo-body .header-toggler button span.close {
          transform: translate(-0.50375em, -0.50375em) rotate(0deg); }
      .demo-body .header-toggler.collapse button {
        border-radius: 1.75em;
        box-shadow: 0.16em 0.16em 0.175em rgba(73, 80, 87, 0.8);
        color: #fff;
        background-color: rgba(141, 0, 19, 0.6);
        transition: border-radius 400ms ease-in, box-shadow 400ms ease-in, color 325ms ease-in, background-color 325ms ease-in; }
        .demo-body .header-toggler.collapse button span.open {
          opacity: 0;
          transition: opacity 275ms ease-out 275ms; }
        .demo-body .header-toggler.collapse button span.close {
          opacity: 1;
          transition: opacity 275ms ease-in 275ms; }
      .demo-body .header-toggler.collapse.is-collapsed button {
        border-radius: 0.35em;
        box-shadow: 0 0 rgba(73, 80, 87, 0.55);
        color: #495057;
        background-color: transparent;
        transition: border-radius 450ms ease-out, box-shadow 400ms ease-out, color 325ms ease-out, background-color 325ms ease-out; }
        .demo-body .header-toggler.collapse.is-collapsed button span.open {
          opacity: 1;
          transition: opacity 275ms linear 20ms; }
        .demo-body .header-toggler.collapse.is-collapsed button span.close {
          opacity: 0;
          transition: opacity 275ms linear 20ms; } }

/* Extra Large */
/* Extra Small */
.demo-header {
  grid-area: header;
  display: flex;
  flex-flow: wrap;
  background-color: #f8f9fa;
  border-bottom: 0.07em #cdd3d9 solid; }
  .demo-header .nav-toggler {
    order: 0;
    flex-grow: 1;
    margin: auto 0 0 0.4em;
    padding: 0 1em 0 1em; }
    .demo-header .nav-toggler button {
      position: relative;
      width: 3em;
      height: 3em;
      padding: 1em;
      background: transparent;
      border: none; }
      .demo-header .nav-toggler button span {
        transform: translate(-0.50375em, -0.50375em);
        position: absolute;
        font-family: "Metrize-Icons";
        font-size: 2.5em;
        margin: 0;
        padding: 0;
        transform-origin: center; }
    .demo-header .nav-toggler.collapse button {
      border-radius: 1.75em;
      box-shadow: 0.16em 0.16em 0.175em rgba(73, 80, 87, 0.8);
      color: #fff;
      background-color: rgba(141, 0, 19, 0.6);
      transition: border-radius 400ms ease-in, box-shadow 400ms ease-in, color 325ms ease-out, background-color 325ms ease-in; }
      .demo-header .nav-toggler.collapse button span.open {
        opacity: 0;
        transition: opacity 275ms ease-out 275ms; }
      .demo-header .nav-toggler.collapse button span.close {
        opacity: 1;
        transition: opacity 275ms ease-in 275ms; }
    .demo-header .nav-toggler.collapse.is-collapsed button {
      border-radius: 0.35em;
      box-shadow: 0 0 rgba(73, 80, 87, 0.55);
      color: #495057;
      background-color: transparent;
      transition: border-radius 450ms ease-out, box-shadow 400ms ease-out, color 325ms ease-out, background-color 325ms ease-out; }
      .demo-header .nav-toggler.collapse.is-collapsed button span.open {
        opacity: 1;
        transition: opacity 275ms linear 20ms; }
      .demo-header .nav-toggler.collapse.is-collapsed button span.close {
        opacity: 0;
        transition: opacity 275ms linear 20ms; }
  .demo-header .branding {
    order: 1;
    flex-grow: 10;
    margin: auto 0.4em 0 0;
    padding: 0.4em 0.5em 0 0; }
    .demo-header .branding .custom-logo {
      display: none; }
    .demo-header .branding .title {
      padding: 0.2em;
      margin: 0;
      font-size: 1.4em;
      text-align: right; }
    .demo-header .branding .description {
      display: none; }
  .demo-header .demo-header-div {
    order: 3;
    flex-basis: 100%;
    flex-shrink: 0;
    position: relative;
    margin: 0.4em 0 0 0;
    width: 100%;
    padding: 0; }
    .demo-header .demo-header-div.collapse {
      overflow: hidden;
      transition: max-height 650ms ease-out;
      max-height: 100vh; }
      .demo-header .demo-header-div.collapse.is-collapsed {
        max-height: 0;
        transition: max-height 550ms ease-out; }
    .demo-header .demo-header-div ul.nav-menu {
      padding: 0; }
      .demo-header .demo-header-div ul.nav-menu li a {
        width: 100%; }

/* Small */
/* Medium */
/* Large */
@media (min-width: 992px) {
  .demo-header {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-bottom: none;
    border-right: 0.07em #cdd3d9 solid; }
    .demo-header.collapse {
      min-width: 33vw;
      transform: translateX(0);
      transition: min-width 200ms ease-out 150ms, transform 500ms ease-in; }
      .demo-header.collapse.is-collapsed {
        min-width: 0;
        transform: translateX(-33vw);
        transition: min-width 200ms ease-out 150ms, transform 650ms ease-out; }
    .demo-header .nav-toggler {
      display: none; }
    .demo-header .branding {
      flex-grow: 0;
      flex-shrink: 1;
      margin: 0;
      padding: 0.4em 0.5em 0.3em;
      display: inline-flex;
      flex-direction: column;
      align-items: center; }
      .demo-header .branding .custom-logo {
        display: block; }
      .demo-header .branding .title {
        padding: 0.2em;
        margin: 0;
        font-size: 2em;
        text-align: center; }
      .demo-header .branding .description {
        display: block;
        font-size: 1em;
        text-align: center; }
        .demo-header .branding .description small {
          color: #adb5bd;
          font-size: 1.7em; }
    .demo-header .demo-header-div {
      flex-shrink: 0; }
      .demo-header .demo-header-div.collapse {
        opacity: 1;
        transition: opacity 330ms ease-out; }
        .demo-header .demo-header-div.collapse.is-collapsed {
          opacity: 0; } }

/* Extra Large */
/* Extra Small */
.demo-aside {
  grid-area: aside;
  display: flex;
  flex-direction: column; }
  .demo-aside .demo-aside-div {
    position: relative;
    width: 100%; }
    .demo-aside .demo-aside-div::before {
      content: "";
      position: absolute;
      background-color: #CFFA5A;
      z-index: -1;
      top: 0;
      left: 0;
      margin: 0;
      padding: 0;
      width: 100%;
      height: 100%; }
    .demo-aside .demo-aside-div ul.demo-list li div.sub-list-icon-toggler.collapse button {
      transition-delay: 550ms; }
      .demo-aside .demo-aside-div ul.demo-list li div.sub-list-icon-toggler.collapse button span {
        transform: translate(-0.55375em, -0.49375em) rotate(180deg);
        transition: transform 575ms ease-in 550ms; }
    .demo-aside .demo-aside-div ul.demo-list li div.sub-list-icon-toggler.collapse.is-collapsed button {
      transition-delay: 650ms; }
      .demo-aside .demo-aside-div ul.demo-list li div.sub-list-icon-toggler.collapse.is-collapsed button span {
        transform: translate(-0.45375em, -0.50375em) rotate(0deg);
        transition: transform 600ms ease-in 650ms; }
    .demo-aside .demo-aside-div ul.demo-list li div.sub-list {
      position: relative; }
      .demo-aside .demo-aside-div ul.demo-list li div.sub-list::before {
        content: "";
        position: absolute;
        z-index: -1;
        width: 100%;
        height: 100%;
        background-color: #B2F300; }
      .demo-aside .demo-aside-div ul.demo-list li div.sub-list ul li a {
        color: #00AD8B; }
      .demo-aside .demo-aside-div ul.demo-list li div.sub-list ul li a:active,
      .demo-aside .demo-aside-div ul.demo-list li div.sub-list ul li a.active {
        color: #fff; }
      .demo-aside .demo-aside-div ul.demo-list li div.sub-list div.sub-list::before {
        background-color: #B2F300; }
  .demo-aside .page-nav-icon-toggler {
    position: relative; }
    .demo-aside .page-nav-icon-toggler.collapse button {
      transition-delay: 550ms; }
      .demo-aside .page-nav-icon-toggler.collapse button span {
        transform: translate(-0.55375em, -0.49375em) rotate(180deg);
        transition: transform 575ms ease-in 550ms; }
    .demo-aside .page-nav-icon-toggler.collapse.is-collapsed button {
      transition-delay: 650ms; }
      .demo-aside .page-nav-icon-toggler.collapse.is-collapsed button span {
        transform: translate(-0.45375em, -0.50375em) rotate(0deg);
        transition: transform 600ms ease-out 650ms; }

/* Small */
/* Medium */
/* Large */
/* Extra Large */
/* Extra Small */
.demo-main {
  grid-area: main; }
  .demo-main h2 {
    padding: 0;
    margin: 0.3em 0.6em 0.1em; }
  .demo-main h3 {
    padding: 0;
    margin: 0.1em 1.2em 0.05em; }
  .demo-main section {
    width: 100%;
    overflow-x: hidden;
    padding: 0.2em 0 0.7em;
    margin: 0 auto; }
    .demo-main section > ul {
      list-style: none;
      padding: 0;
      margin: 0; }
      .demo-main section > ul > li {
        position: relative; }
        .demo-main section > ul > li::before {
          content: "\e104";
          margin: 0.5em 0.5em 0.1em;
          font-family: 'Metrize-Icons';
          font-size: 1.3em;
          font-weight: 600;
          line-height: 0.3; }
    .demo-main section pre {
      padding: 0;
      margin: 1em 0 0.8em;
      background: transparent;
      border-radius: 0.275em;
      border: 0.07em #cdd3d9 solid;
      background: #f8f9fa;
      color: #678D00; }
      .demo-main section pre code {
        margin: 0 auto;
        padding: 0 1em;
        border: none;
        background: transparent;
        font-family: "Courier 10 Pitch", Courier, monospace; }
    .demo-main section .react-live .prism-code,
    .demo-main section .react-live .react-live-preview {
      max-width: 100%;
      max-height: 75vh;
      overflow: scroll; }
    .demo-main section .react-live .react-live-preview {
      border: 0.07em #484f56 solid; }

/* Small */
/* Medium */
/* Large */
@media (min-width: 992px) {
  .demo-main {
    position: relative; }
    .demo-main.collapse {
      min-width: 66.6vw;
      transition: min-width 450ms ease-out; }
      .demo-main.collapse.is-collapsed {
        min-width: 100vw;
        transition: min-width 450ms ease-in; }
    .demo-main .demo-aside {
      width: 100%; }
    .demo-main section .react-live {
      display: flex;
      flex-wrap: nowrap;
      align-items: flex-start; }
      .demo-main section .react-live .prism-code,
      .demo-main section .react-live .react-live-preview {
        flex-grow: 1;
        flex-basis: 50%;
        margin: 0 1em; }
        .demo-main section .react-live .prism-code::-webkit-scrollbar,
        .demo-main section .react-live .react-live-preview::-webkit-scrollbar {
          width: 1em; }
        .demo-main section .react-live .prism-code::-webkit-scrollbar-track,
        .demo-main section .react-live .react-live-preview::-webkit-scrollbar-track {
          box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
          border-radius: 10px; }
        .demo-main section .react-live .prism-code::-webkit-scrollbar-thumb,
        .demo-main section .react-live .react-live-preview::-webkit-scrollbar-thumb {
          border-radius: 10px;
          box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5); }
        .demo-main section .react-live .prism-code::-webkit-scrollbar-corner,
        .demo-main section .react-live .react-live-preview::-webkit-scrollbar-corner {
          background: transparent; } }

/* Extra Large */
/* Extra Small */
.demo-footer {
  grid-area: footer; }

/* Small */
/* Medium */
/* Large */
/* Extra Large */
