/* Base */
body {
  position: relative;
  width: 100%;
  min-height: 100%;
  overflow-x: hidden;
  background-color: #dee2e6;
  color: #495057; }
  body h1, body h2, body h3, body h4, body h5, body h6 {
    color: #343a40; }
  body a {
    color: #F40022; }

/* Extra Small */
.app {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-areas: "header header header header header header" "aside aside aside aside aside aside" "aside aside aside aside aside aside" "main main main main main main" "main main main main main main" "main main main main main main" "main main main main main main" "main main main main main main" "main main main main main main" "main main main main main main" "main main main main main main" "footer footer footer footer footer footer" "footer footer footer footer footer footer"; }
  .app .demo-header {
    grid-area: header;
    display: inline-grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-areas: "toggle . brand brand brand brand brand brand brand" "toggle . brand brand brand brand brand brand brand" "nav nav nav nav nav nav nav nav nav";
    background-color: #f8f9fa;
    border-bottom: 0.07em #cdd3d9 solid; }
    .app .demo-header .toggler {
      grid-area: toggle;
      padding: 0.4em 0 0 0.5em; }
      .app .demo-header .toggler > button {
        position: relative;
        padding: 0.2em;
        margin: 0 auto;
        width: 3.5em;
        height: 3.5em;
        background: transparent;
        border: none; }
        .app .demo-header .toggler > button::before, .app .demo-header .toggler > button.collapse::after {
          position: absolute;
          font-family: 'Metrize-Icons';
          font-size: 2.5em;
          content: "\e0f5"; }
        .app .demo-header .toggler > button::before {
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          color: #eee;
          text-shadow: 0.07em 0.07em 0.1em #ccc; }
        .app .demo-header .toggler > button.collapse::after {
          margin: auto;
          padding: 0.09em 0.05em;
          z-index: 5;
          opacity: 0.7;
          background: #292929;
          transform: translate(-0.55em, -0.5em) scale(1, 1) rotate(45deg);
          transition: transform 350ms ease-out; }
        .app .demo-header .toggler > button.collapse.is-collapsed::after {
          transform: translate(-0.55em, -0.5em) scale(0, 0) rotate(0deg); }
    .app .demo-header .branding {
      grid-area: brand;
      padding: 0.4em 0.5em 0 0; }
      .app .demo-header .branding .title {
        padding: 0.2em;
        margin: 0;
        font-size: 1.4em;
        text-align: right; }
      .app .demo-header .branding .description {
        display: none; }
    .app .demo-header .navigation {
      grid-area: nav;
      position: relative;
      margin: 0.4em 0 0 0; }
      .app .demo-header .navigation.collapse {
        overflow: hidden;
        transition: max-height 650ms ease-out;
        max-height: 100vh; }
        .app .demo-header .navigation.collapse.is-collapsed {
          max-height: 0;
          transition: max-height 550ms ease-out; }
      .app .demo-header .navigation ul {
        list-style: none;
        margin: 0 auto;
        display: flex;
        flex-direction: column; }
        .app .demo-header .navigation ul li {
          padding: 0;
          margin: 0; }
          .app .demo-header .navigation ul li a {
            display: block;
            padding: 1.5em 1em;
            text-decoration: none;
            color: #678D00;
            transition: color 250ms ease-out, background-color 320ms ease-in; }
            .app .demo-header .navigation ul li a:active, .app .demo-header .navigation ul li a.active {
              background-color: #005F4C;
              color: #fff; }
  .app .demo-aside {
    grid-area: aside;
    display: inline-grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-areas: "nav nav nav nav nav nav nav nav nav" "toggle toggle toggle toggle toggle toggle toggle toggle toggle"; }
    .app .demo-aside .toggler {
      grid-area: toggle; }
      .app .demo-aside .toggler button {
        position: relative;
        width: 100%;
        height: 3em;
        background: transparent;
        border: none;
        padding: 1.5em 0; }
        .app .demo-aside .toggler button::before {
          position: absolute;
          font-family: "Metrize-Icons";
          font-size: 2.5em;
          content: "\e11c";
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%); }
        .app .demo-aside .toggler button.collapse::before {
          color: #678D00;
          transform: translate(-50%, -50%) rotate(0deg);
          transition: transform 350ms ease-in, color 300ms ease-in; }
        .app .demo-aside .toggler button.is-collapsed::before {
          color: #6c757d;
          transform: translate(-50%, -50%) rotate(180deg);
          transition: transform 550ms ease-out, color 475ms ease-out; }
    .app .demo-aside .navigation {
      grid-area: nav;
      position: relative; }
      .app .demo-aside .navigation.collapse {
        overflow: hidden;
        transition: max-height 650ms ease-out;
        max-height: 100vh; }
        .app .demo-aside .navigation.collapse.is-collapsed {
          max-height: 0;
          transition: max-height 550ms ease-out; }
      .app .demo-aside .navigation ul {
        list-style: none;
        margin: 0 auto;
        display: flex;
        flex-direction: column; }
        .app .demo-aside .navigation ul::before {
          content: attr(data-heading);
          width: 100%;
          margin: 0.5em 0 0.25em;
          padding: 0 0.5em;
          text-align: right;
          font-size: 1.125em;
          font-weight: 600; }
      .app .demo-aside .navigation li {
        padding: 0;
        margin: 0; }
        .app .demo-aside .navigation li a, .app .demo-aside .navigation li a:visited {
          display: block;
          padding: 0.5em 1em;
          text-decoration: none;
          text-align: right;
          color: #678D00;
          transition: color 250ms ease-out, background-color 320ms ease-in; }
  .app .demo-main {
    grid-area: main; }
    .app .demo-main section {
      width: 100%;
      overflow-x: hidden;
      padding: 0.9em 1em 0.7em; }
      .app .demo-main section > ul {
        list-style: none;
        padding: 0;
        margin: 0; }
        .app .demo-main section > ul > li {
          position: relative; }
          .app .demo-main section > ul > li::before {
            content: "\e104";
            margin: 0.5em 0.5em 0.1em;
            font-family: 'Metrize-Icons';
            font-size: 1.3em;
            font-weight: 600;
            line-height: 0.3; }
      .app .demo-main section pre {
        padding: 0;
        margin: 1em 0 0.8em;
        background: transparent;
        border-radius: 0.275em;
        border: 0.07em #cdd3d9 solid;
        background: #f8f9fa;
        color: #678D00; }
        .app .demo-main section pre code {
          margin: 0 auto;
          padding: 0 1em;
          border: none;
          background: transparent;
          font-family: "Courier 10 Pitch", Courier, monospace; }
      .app .demo-main section .react-live .prism-code,
      .app .demo-main section .react-live .react-live-preview {
        max-width: 100%;
        max-height: 75vh;
        overflow: scroll; }
      .app .demo-main section .react-live .react-live-preview {
        border: 0.07em #484f56 solid; }
  .app .demo-footer {
    grid-area: footer; }

/* Small */
/* Medium */
@media (min-width: 768px) {
  .app .demo-aside {
    grid-template-columns: repeat(6, 1fr);
    grid-template-areas: "nav nav nav nav nav nav"; }
    .app .demo-aside .toggler {
      display: none; }
    .app .demo-aside .navigation ul {
      margin: 0 auto;
      flex-direction: row;
      flex-wrap: wrap; }
      .app .demo-aside .navigation ul::before {
        content: attr(data-heading) ": ";
        margin: 0.5em 0.7em 0 0.5em;
        width: auto;
        padding: 0;
        font-size: 1.3em;
        font-weight: 600; }
    .app .demo-aside .navigation li {
      padding: 0;
      margin: 0; }
      .app .demo-aside .navigation li a, .app .demo-aside .navigation li a:visited {
        display: block;
        padding: 0.75em 1em 0.45em;
        text-decoration: none;
        text-align: right;
        font-size: 1.125em;
        color: #678D00;
        transition: color 250ms ease-out, background-color 320ms ease-in; } }

/* Large */
@media (min-width: 992px) {
  .app {
    grid-template-columns: repeat(12, 1fr);
    grid-template-areas: "header header header header aside aside aside aside aside aside aside aside" "header header header header aside aside aside aside aside aside aside aside" "header header header header main main main main main main main main" "header header header header main main main main main main main main" "header header header header main main main main main main main main" "header header header header main main main main main main main main" "header header header header main main main main main main main main" "header header header header main main main main main main main main" "header header header header main main main main main main main main" "header header header header main main main main main main main main" "header header header header footer footer footer footer footer footer footer footer" "header header header header footer footer footer footer footer footer footer footer"; }
    .app .demo-header {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      border-bottom: none;
      border-right: 0.07em #cdd3d9 solid; }
      .app .demo-header .toggler {
        display: none; }
      .app .demo-header .branding {
        padding: 0.4em 0.5em 0.3em;
        display: flex;
        flex-direction: column;
        align-items: center; }
        .app .demo-header .branding .title {
          padding: 0.2em;
          margin: 0;
          font-size: 2em;
          text-align: center; }
        .app .demo-header .branding .description {
          display: block;
          font-size: 1em;
          text-align: center; }
          .app .demo-header .branding .description small {
            color: #adb5bd;
            font-size: 1.7em; }
    .app .demo-main section .react-live {
      display: flex;
      flex-wrap: nowrap;
      align-items: flex-start; }
      .app .demo-main section .react-live .prism-code,
      .app .demo-main section .react-live .react-live-preview {
        flex-grow: 1;
        flex-basis: 50%;
        margin: 0 1em; }
        .app .demo-main section .react-live .prism-code::-webkit-scrollbar,
        .app .demo-main section .react-live .react-live-preview::-webkit-scrollbar {
          width: 1em; }
        .app .demo-main section .react-live .prism-code::-webkit-scrollbar-track,
        .app .demo-main section .react-live .react-live-preview::-webkit-scrollbar-track {
          box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
          border-radius: 10px; }
        .app .demo-main section .react-live .prism-code::-webkit-scrollbar-thumb,
        .app .demo-main section .react-live .react-live-preview::-webkit-scrollbar-thumb {
          border-radius: 10px;
          box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5); }
        .app .demo-main section .react-live .prism-code::-webkit-scrollbar-corner,
        .app .demo-main section .react-live .react-live-preview::-webkit-scrollbar-corner {
          background: transparent; } }

/* Extra Large */
