/* Extra Small */
.demo-body {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-areas: 
    "header header header header header header"
    "aside aside aside aside aside aside"
    "aside aside aside aside aside aside"
    "main main main main main main"
    "main main main main main main"
    "main main main main main main"
    "main main main main main main"
    "main main main main main main"
    "main main main main main main"
    "main main main main main main"
    "main main main main main main"
    "footer footer footer footer footer footer"
    "footer footer footer footer footer footer";
    
    .header-toggler {
      display: none;
    }
}

/* Small */
@media (min-width: 576px) {
  
}

/* Medium */
@media (min-width: 768px) {
  .demo-body {
    
  }
}

/* Large */
@media (min-width: 992px) {
  .demo-body {
    position: relative;
    display: flex;
    justify-items: flex-start;
    
    .header-toggler {
      display: block;
      position: absolute;

      button {
        position: relative;
        width: 3em;
        height: 3em;
        padding: 1em;
        background: transparent;
        border: none;

        span {
          position: absolute;
          font-family: "Metrize-Icons";
          font-size: 2.5em;
          margin: 0;
          padding: 0;
          transform-origin: center;
        }

        span.open {
          transform: translate(-0.50375em, -0.50375em) rotate(-45deg);
        }

        span.close {
          transform: translate(-0.50375em, -0.50375em) rotate(0deg);
        }
      }

      &.collapse {
        button {
          border-radius: 1.75em;
          box-shadow: 0.16em 0.16em 0.175em rgba($gray-700, 0.8);
          color: #fff;
          background-color: rgba($red-700, 0.6);
          transition:
            border-radius 400ms ease-in,
            box-shadow 400ms ease-in,
            color 325ms ease-in,
            background-color 325ms ease-in;

          span.open {
            opacity: 0;
            transition: 
              opacity 275ms ease-out 275ms,
          }
  
          span.close {
            opacity: 1;
            transition: 
              opacity 275ms ease-in 275ms,
          }
        }

        &.is-collapsed {
          button {
            border-radius: 0.35em;
            box-shadow: 0 0 rgba($gray-700, 0.55);
            color: $gray-700;
            background-color: transparent;
            transition:
              border-radius 450ms ease-out,
              box-shadow 400ms ease-out,
              color 325ms ease-out,
              background-color 325ms ease-out;

              span.open {
                opacity: 1;
                transition: 
                  opacity 275ms linear 20ms,
              }
      
              span.close {
                opacity: 0;
                transition: 
                  opacity 275ms linear 20ms,
              }
          }
        }
      }
    }
  }
}

/* Extra Large */
@media (min-width: 1200px) {

}