/* Extra Small */
.demo-header {
  grid-area: header;

  display: flex;
  flex-flow: wrap;

  // display: inline-grid;
  // grid-template-columns: repeat(9, 1fr);
  // grid-template-areas:
  //   "toggle . brand brand brand brand brand brand brand"
  //   "toggle . brand brand brand brand brand brand brand"
  //   "nav nav nav nav nav nav nav nav nav";

  background-color: $light;
  border-bottom: 0.07em darken( $gray-400, .3em ) solid;

  .nav-toggler {
    order: 0;
    flex-grow: 1;
    margin: auto 0 0 0.4em;
    padding: 0 1em 0 1em;

    // grid-area: toggle;

    button {
      position: relative;
      width: 3em;
      height: 3em;
      padding: 1em;
      background: transparent;
      border: none;

      span {
        transform: translate(-0.50375em, -0.50375em);
        position: absolute;
        font-family: "Metrize-Icons";
        font-size: 2.5em;
        margin: 0;
        padding: 0;
        transform-origin: center;
      }
    }

    &.collapse {
      button {
        border-radius: 1.75em;
        box-shadow: 0.16em 0.16em 0.175em rgba($gray-700, 0.8);
        color: #fff;
        background-color: rgba($red-700, 0.6);
        transition:
          border-radius 400ms ease-in,
          box-shadow 400ms ease-in,
          color 325ms ease-out,
          background-color 325ms ease-in;

        span.open {
          opacity: 0;
          transition: 
            opacity 275ms ease-out 275ms,
        }

        span.close {
          opacity: 1;
          transition: 
            opacity 275ms ease-in 275ms,
        }
      }

      &.is-collapsed {
        button {
          border-radius: 0.35em;
          box-shadow: 0 0 rgba($gray-700, 0.55);
          color: $gray-700;
          background-color: transparent;
          transition:
            border-radius 450ms ease-out,
            box-shadow 400ms ease-out,
            color 325ms ease-out,
            background-color 325ms ease-out;

            span.open {
              opacity: 1;
              transition: 
                opacity 275ms linear 20ms,
            }
    
            span.close {
              opacity: 0;
              transition: 
                opacity 275ms linear 20ms,
            }
        }
      }
    }
  }

  .branding {
    order: 1;
    flex-grow: 10;
    margin: auto 0.4em 0 0;

    // grid-area: brand;
    padding: 0.4em 0.5em 0 0;

    .custom-logo { display: none; }

    .title {
      padding: 0.2em;
      margin: 0;
      font-size: 1.4em;
      text-align: right;
    }
    .description { display: none; }
  }

  .demo-header-div {
    order: 3;
    flex-basis: 100%;
    flex-shrink: 0;

    // grid-area: nav;
    position: relative;
    margin: 0.4em 0 0 0;
    width: 100%;
    padding: 0;

    &.collapse {
      overflow: hidden;
      transition: max-height 650ms ease-out;
      max-height: 100vh;

      &.is-collapsed {
        max-height: 0;
        transition: max-height 550ms ease-out;
      }
    }

    ul.nav-menu {
      padding: 0;
      li {
        a { width: 100%; }
      }
    }
  }
}

/* Small */
@media (min-width: 576px) {
  
}

/* Medium */
@media (min-width: 768px) {
  
}

/* Large */
@media (min-width: 992px) {
  .demo-header {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    border-bottom: none;
    border-right: 0.07em darken( $gray-400, .3em ) solid;

    &.collapse {
      min-width: 33vw;
      transform: translateX(0);
      transition:
        min-width 200ms ease-out 150ms,
        transform 500ms ease-in;

      &.is-collapsed {
        min-width: 0;
        transform: translateX(-33vw);
        transition:
          min-width 200ms ease-out 150ms,
          transform 650ms ease-out;
      }
    }

    .nav-toggler {
      display: none;
    }

    .branding {
      flex-grow: 0;
      flex-shrink: 1;

      margin: 0;
      padding: 0.4em 0.5em 0.3em;

      display: inline-flex;
      flex-direction: column;
      align-items: center;

      .custom-logo { display: block; }

      .title {
        padding: 0.2em;
        margin: 0;
        font-size: 2em;
        text-align: center;
      }

      .description {
        display: block;

        font-size: 1em;
        text-align: center;

        small {
          color: $gray-500;
          font-size: 1.7em;
        }
      }
    }

    .demo-header-div {
      flex-shrink: 0;

      &.collapse {
        opacity: 1;
        transition: opacity 330ms ease-out;
  
        &.is-collapsed {
          opacity: 0;
        }
      }
    }
  }
}

/* Extra Large */
@media (min-width: 1200px) {

}