/* Extra Small */
  .demo-main {
    grid-area: main;

    h2 { 
      padding: 0;
      margin: 0.3em 0.6em 0.1em;
    }

    h3 {
      padding: 0;
      margin: 0.1em 1.2em 0.05em;
    }
    
    section {
      width: 100%;
      overflow-x: hidden;
      padding: 0.2em 0 0.7em;
      margin: 0 auto;
      
      > ul {
        list-style: none;
        padding: 0;
        margin: 0;

        > li {
          position: relative;

          &::before {
            content: "\e104";
            margin: 0.5em 0.5em 0.1em;

            font-family: 'Metrize-Icons';
            font-size: 1.3em;
            font-weight: 600;
            line-height: 0.3;
          }
        }
      }

      pre {
        padding: 0;
        margin: 1em 0 0.8em;
        background: transparent;

        border-radius: 0.275em;
        border: 0.07em darken( $gray-400, .3em ) solid;
        background: $light;
        color: $lime-700;

        code {
          margin: 0 auto;
          padding: 0 1em;

          border: none;
          background: transparent;
          font-family: "Courier 10 Pitch", Courier, monospace;
        }
      }

      .react-live {
        .prism-code,
        .react-live-preview {
          max-width: 100%;
          max-height: 75vh;
          overflow: scroll;
        }

        .react-live-preview {
          border: 0.07em darken( $gray-700, .3em ) solid;
        }
      }
    }
  }
/* Small */
@media (min-width: 576px) {
  
}

/* Medium */
@media (min-width: 768px) {
  
}

/* Large */
@media (min-width: 992px) {
  .demo-main {
    position: relative;

    &.collapse {
      min-width: 66.6vw;
      transition:
        min-width 450ms ease-out;

      &.is-collapsed {
        min-width: 100vw;
        transition:
          min-width 450ms ease-in;
      }
    }
    
    .demo-aside {
      width: 100%;
    }

    section {
      .react-live {
        display: flex;
        flex-wrap: nowrap;
        align-items: flex-start;

        .prism-code,
        .react-live-preview {
          flex-grow: 1;
          flex-basis: 50%;
          margin: 0 1em;

          &::-webkit-scrollbar {
            width: 1em;
          }

          &::-webkit-scrollbar-track {
            box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
            border-radius: 10px;
          }
         
          &::-webkit-scrollbar-thumb {
            border-radius: 10px;
            box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
          }

          &::-webkit-scrollbar-corner {
            background: transparent;
          }
        }
      }
    }
  }
}

/* Extra Large */
@media (min-width: 1200px) {

}