@keyframes icon_rotate {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(359deg); }
}

.loading {
  position: relative;
  width: 100%;
  min-height: 450px;
  
  .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: inline-flex;
    flex-direction: column;

    .icon {
      padding: 0;
      margin: 0;
      text-align: center;
      transform-origin: center;
      transition: 
        transform 450ms ease-out;
    }

    .message {
      font-size: 1.3em;
      text-align: center;
    }
  }

  &.on {
    .icon {
      animation: icon_rotate 1s linear infinite;
    }
  }
}